<link rel="stylesheet" href="/css/color.css" />
<h4 class="text-center mt-2 mb-2">Color Scheme For Tasks</h4>
<div class="col-12 "> 
    <div class="colorShow red"></div>
    Red : Task with Top Priority
</div>
<div class="col-12 "> 
    <div class="colorShow green"></div> 
    Green : Task with Middle Priority
</div>
<div class="col-12 "> 
    <div class="colorShow aqua"> 
    </div>
    Aqua : Task with Least Priority
</div>
<div class="col-12 "> 
    <div class="colorShow brown"> 
    </div>
    Brown : Completed Task
</div>
<div class="col-12 "> 
    <div class="colorShow black"> 
    </div>
    Black : Missed Task
</div>