<%if (ctasks.length>0){%>

    <div class="task_list">
        <% for (task of ctasks) {%>
            <div class="task" style="background-color: <%= task.color%>">
                <%= task.content %>
            </div>
            <% } %>
    </div>

    <% } %>