<footer id="layout-footer">
    <div if="Logo">
        <div class="mi">&#169; Prajwal Mahajan</div>
        <div class="mi">All Rights Reserved</div>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>