<div class="container-fluid" style="margin: 10px auto;">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: <%= comPer%>%;" aria-valuenow="<%= comPer %>"
                    aria-valuemin="0" aria-valuemax="100">
                    <%= comPer%>%
                </div>
            </div>
        </div>
    </div>
</div>