<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 card" style="border:2px solid; margin: 10px auto;">
            <form action="/tasks/create" method="POST">
                <div class="mb-3">
                    <label for="task" class="form-label">Task</label>
                    <input type="textarea" class="form-control" id="task" name="content" />
                </div>
                <div class="mb-3">
                    <label for="when" class="form-label">Task to Be Completed By :</label>
                    <input type="date" class="form-control" id="when" name="day" />
                </div>
                <label for="p" class="form-label">Priority</label>
                <select id="p" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                    name="priority">
                    <option value="1">One - As Lowest Priority</option>
                    <option value="2">Two</option>
                    <option value="3">Three - As Highest Priority</option>
                </select>
                <input type="hidden" name="user" value="<%= user.id%>" />
                <input type="hidden" name="isCompleted" value="false" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>