<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                href="#list-home" role="tab" aria-controls="list-home">All
                Tasks</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                href="#list-profile" role="tab" aria-controls="list-profile">Remaining Tasks</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                href="#list-messages" role="tab" aria-controls="list-messages">Completed Tasks</a>

            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                href="#list-settings" role="tab" aria-controls="list-settings">Missed Tasks</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="meta">
                    <%- include('_allTaskList'); %>
                </div>

            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                <div class="meta">
                    <%- include('_remainingTaskList'); %>
                </div>

            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="meta">
                    
                    <%- include('_completedTaskList'); %>
                    
                </div>
                
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <div class="meta">
                    <%- include('_missedTaskList'); %>
                </div>
            </div>


        </div>
    </div>
</div>