.colorShow{
    width:20px;
    height: 20px;
    border-radius:50%;
}

.red{
    background-color:red;

}
.green{
    background-color: green;

}
.aqua{
    background-color:aqua;

}
.brown{
    background-color: brown;

}
.black{
    background-color: black;
}
